/*Navbar color variables*/
$wood-brown: rgb(100, 67, 23); // Navbar background
$wood-dark-brown: rgb(50, 38, 23);  // Mobile navbar background
$faint-white: rgba(255,255,255,0.3); // Color of the lines separating the links in the mobile navigation
$semi-transparent-black: rgba(0, 0, 0, 0.75); // Navbar box shadow color
$candy-pink: rgb(217, 67, 120); // Background color of Signup button
$candy-purple: rgb(204, 33, 93); // Background color of hovered Signup button